/* body {
    background-color: black;
} */


/* nawigacja */
.navbar {
    background: white;
    /* box-shadow: 0 0px 10px 2px #CECECE; */
}

.nav-link {
    color: #5048A8;
}

/* Kwadarty z notatkami */
.main_notes {
    box-shadow: 0px 0px 10px 2px #CECECE;
    border-radius: 10px;
    font-size: 14px;
}

.shortcut_link {
    text-decoration: none;
    color: black;
}

.fa-plus {
    font-size: 2rem;
    color: #5048A8;
}


/* zmiana kolorów akordeonu */
.accordion-button {
    font-size: 1.3rem;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: #5048A8;
    font-size: 1.3rem;
    background-color: #f3f3f4;
    /* background-color: #e6e6e69c; */
}

/* Menu na stronie głównej */

.all_fields {
    height: 90vh;
    border-color: #f3f3f4;
}

.search_field {
    box-shadow: 0px 0px 10px 2px #CECECE;
    padding: 0;
    border-radius: 1rem;
}

.input-group-text {
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: white;
    border: none;
}

.form-control {
    border: none;
}

.input-group-sm>.btn,
.input-group-sm>.form-control,
.input-group-sm>.form-select,
.input-group-sm>.input-group-text {
    font-size: 1rem;
    border-radius: 1rem;
}

.menu_panel {
    background-color: #f3f3f4;
    height: 100vh;
    border-color: #f3f3f4;
}

.notes_panel {
    background: white;
    border-radius: 10px;
    height: 85%;
    box-shadow: 0px 0px 10px 2px #CECECE;
}

/* notatki simple */
.form-control {
    border: 1px solid #ced4da;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #5048A8;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(43 39 91 / 36%);
}

.btn-primary {
    color: #fff;
    background-color: #5048A8;
    border-color: #5048A8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2B275B;
    border-color: #2B275B;
}